.flex-collor-1 {
  background-color: #ec3d4c;
}

.flex-collor-2 {
  background-color: #b650cd;
}

.flex-collor-3 {
  background-color: #f7a210;
}

.flex-collor-4 {
  background-color: #00b8c9;
}

.flex-collor-5 {
  background-color: #42095d;
}

.flex-collor-1--ft {
  color: #ec3d4c;
}

.flex-collor-light--ft {
  color: #fff;
}

.small {
  font-size: 0.7rem;
  text-decoration: none;
  color: #fff;
}
