.container {
  display: flex;
  align-items: flex-start;
  min-height: 420px;
}

.item {
  text-align: center;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.item {
  flex: 1;
}

.item--2 {
  align-self: center;
}

.item--3 {
  align-self: flex-end;
}
