.container {
  display: flex;
  min-height: 160px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
